<template>
    <div class="content">
        <v-row
                align="center"
                justify="center"
        >
            <v-col
                    cols="12"
                    sm="8"
                    md="4"
            >
                <v-card class="elevation-12">
                    <v-toolbar
                            color="indigo darken-4"
                            dark
                            flat
                    >
                        <v-toolbar-title><h3>Введите код подтверждения</h3></v-toolbar-title>

                    </v-toolbar>
                    <v-card-text>
                        <v-form>
                            <v-text-field
                                    v-model="confirm"
                                    outlined
                                    dense
                                    label="Код из СМС"
                                    prepend-inner-icon="mdi-safe-square-outline"
                                    type="number"
                            />

                            <v-text-field
                                    v-model="password"
                                    outlined
                                    dense
                                    label="Новый пароль"
                                    prepend-inner-icon="mdi-lock"
                                    type="password"
                            />

                            <v-text-field
                                    v-model="confirmPassword"
                                    outlined
                                    dense
                                    label="Повторите пароль"
                                    prepend-inner-icon="mdi-lock"
                                    type="password"
                            />
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn :disabled="password != confirmPassword" depressed @click="send" color="indigo darken-4 white--text">Отправить</v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
        <v-snackbar
                color="error"
                v-model="snackbar">
            Возникла ошибка, попробуйте снова
        </v-snackbar>
    </div>
</template>

<style lang="scss" scoped>
    .content {
        width: 100%;
    }
</style>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import {AuthService} from "@/service/auth.service";

@Component
export default class ConfirmPage extends Vue {

    snackbar: boolean = false;

    login: string = '';
    confirm: string = '';
    password: string = '';
    confirmPassword: string = '';

    send(): void {
        AuthService.changePasswordWithConfirmSms(this.confirm, this.login, this.password)
            .then(r => {
                this.$router.push('/login');
            })
            .catch(r => {
                this.snackbar = true
            })
    }

    created(): void {
        this.login = this.$router.currentRoute.params['login'];
    }

}

</script>