<template>
    <content-component>
        <div class="content">
            <span class="status">{{status}}</span>
        </div>
    </content-component>
</template>

<style lang="scss" scoped>
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .status {
        font-size: 60px;
        font-weight: 700;
    }
</style>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import ContentComponent from "@/components/content.component.vue";

@Component({
    components: {
        ContentComponent
    }
})
export default class ErrorPage extends Vue {

    public status!: number;

    created(): void {
        this.status = +this.$router.currentRoute.params.status;
    }

}
</script>