<template>
    <content-component>
        <div class="content">

            <section class="section content__section">
                <h2 class="section__block">Переводы</h2>
                <div class="large-items section__block">
                    <v-card @click="toPay" class="large-items__item">
                        <v-list-item class="large-item-content" two-line>
                            <v-icon class="large-item-icon large-item-content__icon" color="indigo darken-4">mdi-account-arrow-left-outline</v-icon>
                            <v-list-item-content>
                                <v-list-item-title class="headline mb-1">
                                    Клиенту ВТБ
                                </v-list-item-title>
                                <v-list-item-subtitle>На карту или счет</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-card>
                    <v-card class="large-items__item">
                        <v-list-item class="large-item-content" two-line>
                            <v-icon class="large-item-icon large-item-content__icon" color="indigo darken-4">mdi-arrow-left-right-bold-outline</v-icon>
                            <v-list-item-content>
                                <v-list-item-title class="headline mb-1">
                                    Между своими счетами
                                </v-list-item-title>
                                <v-list-item-subtitle>Внутри ВТБ</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-card>
                    <v-card class="large-items__item">
                        <v-list-item class="large-item-content" two-line>
                            <v-icon class="large-item-icon large-item-content__icon" color="indigo darken-4">mdi-credit-card-multiple-outline</v-icon>
                            <v-list-item-content>
                                <v-list-item-title class="headline mb-1">
                                    Другому человеку
                                </v-list-item-title>
                                <v-list-item-subtitle>По России</v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-card>
                </div>
            </section>

            <section class="section content__section">
                <h2 class="section__block">Платежи</h2>
                <v-text-field
                        class="section__block"
                        placeholder="Введите название, категорию услуги, ИНН или расчетный счет"
                        dense
                        outlined
                ></v-text-field>

                <div class="small-items section__block">
                    <v-card v-for="(item, i) in largeItems" :key="i" outlined class="small-items__item">
                        <v-list-item class="small-item-content" two-line>
                            <v-icon class="small-item-icon small-item-content__icon" color="indigo darken-4">{{item.icon}}</v-icon>
                            <v-list-item-content>
                                <v-list-item-title>
                                    {{item.title}}
                                </v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-card>
                </div>
            </section>
        </div>
    </content-component>
</template>

<style lang="scss" scoped>
    .content {
        &__section {
            margin-bottom: 40px;
        }
    }
    .section {
        &__block {
            margin-bottom: 24px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .large-items {
        display: flex;
        flex-wrap: wrap;
        &__item {
            width: calc(50% - 24px);
            margin-right: 24px;
            margin-bottom: 24px;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
    .large-item-icon {
        font-size: 50px;
    }
    .large-item-content {
        padding: 10px 20px;
        &__icon {
            margin-right: 14px;
        }
    }


    .small-items {
        display: flex;
        flex-wrap: wrap;
        &__item {
            width: calc(33.33% - 10px);
            margin-right: 15px;
            margin-bottom: 15px;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
    .small-item-content {
        &__icon {
            margin-right: 10px;
        }
    }

</style>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import ContentComponent from "@/components/content.component.vue";
import UserModel from "@/model/user.model";
import {GET_CURRENT_USER} from "@/store/current.user.store";
import {TokenRepository} from "@/repository/token.repository";

@Component({
    components: {
        ContentComponent
    }
})
export default class HomePage extends Vue {

    largeItems = [
        {
            title: 'Мобильная связь',
            icon: 'mdi-cellphone'
        },
        {
            title: 'Интернет и ТВ',
            icon: 'mdi-access-point-network'
        },
        {
            title: 'ЖКХ и домашний телефон',
            icon: 'mdi-home-outline'
        },
        {
            title: 'Налоги и штрафы',
            icon: 'mdi-tow-truck'
        },
        {
            title: 'Образование',
            icon: 'mdi-book-open-variant'
        },
        {
            title: 'Погашение кредитов',
            icon: 'mdi-wallet-outline'
        }
    ];

    created(): void {
        if(TokenRepository.getToken() === null)
            this.$router.push('/login')
    }

    toPay(): void {
        this.$router.push('/pay');
    }

}
</script>