<template>
    <div class="content">
        <v-row
                align="center"
                justify="center"
        >
            <v-col
                    cols="12"
                    sm="8"
                    md="4"
            >
            <v-card class="elevation-12">
                <v-toolbar
                        color="indigo darken-4"
                        dark
                        flat
                >
                <v-toolbar-title><h3>Логин</h3></v-toolbar-title>

                </v-toolbar>
                <v-card-text>
                <v-form>
                    <v-text-field
                            v-model="username"
                            outlined
                            dense
                            label="Логин"
                            prepend-inner-icon="mdi-account"
                            type="text"
                    />

                    <v-text-field
                            v-model="password"
                            outlined
                            dense
                            label="Пароль"
                            prepend-inner-icon="mdi-lock"
                            type="password"
                    />
                </v-form>
                </v-card-text>
                <v-card-actions>
                <v-spacer />
                <v-btn depressed @click="login" color="indigo darken-4 white--text">Логин</v-btn>
                </v-card-actions>
            </v-card>
            </v-col>
        </v-row>
        <v-snackbar
                color="error"
                v-model="snackbar">
            Не верный логин или пароль
        </v-snackbar>
        <v-snackbar
                color="error"
                v-model="snackbarToManyRequests">
            Слишком много некорректных запросов, обратитесь в банк
        </v-snackbar>
    </div>
</template>

<style lang="scss" scoped>
    .content {
        width: 100%;
    }
</style>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import {ACTION_LOGIN} from "@/store/current.user.store";
import {TokenRepository} from "@/repository/token.repository";
import {UserService} from "@/service/user.service";
import {AuthService} from "@/service/auth.service";

@Component
export default class LoginPage extends Vue {
    public snackbar: boolean = false;
    public snackbarToManyRequests: boolean = false;

    public username: string = '';
    public password: string = '';

    created(): void {
        if(TokenRepository.getToken() !== null)
            this.$router.push('/')
    }

    public login(): void {
        AuthService.login(this.username, this.password)
            .then(r => {
                if(r.data === 'NEED_CONFIRM')
                    return this.$router.push('/confirm/' + this.username)
                TokenRepository.setToken(r.data);
                UserService.getCurrent()
                    .then(r => {
                        this.$store.dispatch(ACTION_LOGIN, r.data);
                        this.$router.push('/');
                    })
            })
            .catch(r => {
                if(r.response.status === 429)
                    return this.snackbarToManyRequests = true;
                this.snackbar = true
            });
    }
}
</script>
