<template>
    <content-component>
    <p>Номер документа: {{documentNumber}}</p>
    <p>Дата документа: {{documentDate}}</p>

    <v-row>
        <v-col cols="5">

        <h4 class="header">Получатель</h4>

        <v-text-field
                dense
                outlined
                v-model="paymentModel.accountNumber"
                type="number"
                label="Номер счета"
        ></v-text-field>

        <v-text-field
                dense
                outlined
                v-model="paymentModel.bik"
                type="number"
                label="БИК"
        ></v-text-field>

        <v-text-field
                dense
                outlined
                v-model="paymentModel.sum"
                type="number"
                label="Сумма зачисления"
        ></v-text-field>

        </v-col>
    </v-row>

    <v-btn @click="payment" depressed color="indigo darken-4 white--text">Оплатить</v-btn>
    <v-snackbar v-model="errorSnackbar" color="error">Платеж отклонен</v-snackbar>
    </content-component>
</template>

<style lang="scss" scoped>
    .header {
    margin-bottom: 24px;
    }
</style>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import ContentComponent from "@/components/content.component.vue";
import UserModel from "@/model/user.model";
import {GET_CURRENT_USER} from "@/store/current.user.store";
import {TokenRepository} from "@/repository/token.repository";
import {PaymentModel} from "@/model/payment.model";
import {PaymentService} from "@/service/payment.service";

@Component({
    components: {
    ContentComponent
    }
})
export default class PayPage extends Vue {

    errorSnackbar: boolean = false;
    paymentModel: PaymentModel = new PaymentModel();

    get documentNumber(): number {
        return Math.floor(Math.random() * 1000000);
    }

    get documentDate(): string {
        return (new Date()).toLocaleString().slice(0, 10)
    }

    created(): void {
        if(TokenRepository.getToken() === null)
            this.$router.push('/login')
    }

    payment(): void {
        PaymentService.payment(this.paymentModel)
            .then(r => {
                this.$router.push('/payment-info/' + r.data)
            })
            .catch(r => {
                this.errorSnackbar = true
            })
    }

}
</script>