<template>
    <content-component>
        <v-card v-if="success" class="card">
            <v-card-text class="card-content">
                <h1>Платеж одобрен</h1>
                <v-icon color="indigo darken-4" class="card-content__icon">mdi-check-outline</v-icon>
            </v-card-text>
        </v-card>
    </content-component>
</template>

<style lang="scss" scoped>
    .card {
        max-width: 500px;
        margin: 0 auto;
    }
    .card-content {
        padding: 40px 0;
        text-align: center;
        &__icon {
            margin-top: 30px;
            font-size: 80px;
        }
    }
</style>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import ContentComponent from "@/components/content.component.vue";
import {PaymentService} from "@/service/payment.service";
import {PaymentModel} from "@/model/payment.model";

@Component({
    components: {
        ContentComponent
    }
})
export default class PaymentInfoPage extends Vue {

    success: boolean = false;
    paymentModel!: PaymentModel;

    created(): void {
        const id = +this.$router.currentRoute.params['id'];
        PaymentService.getPayment(id)
            .then(r => {
                this.paymentModel = r.data;
                this.success = true;
            })
            .catch(r => {
                this.$router.push('/pay')
            })
    }

}

</script>