<template>
    <v-app class="bg" id="inspire">
    <v-content>
        <v-toolbar v-if="currentUser">
        <img class="logo" src="/vtb-logo.png">
        <v-spacer />
        <v-menu
                left
                bottom
        >
            <template v-slot:activator="{ on, attrs }">
            <v-btn
                    class="profile-btn"
                    text
                    v-bind="attrs"
                    v-on="on"
            >
                <v-icon left>mdi-account</v-icon>
                {{currentUser.login}}
            </v-btn>
            </template>

            <v-list>
<!--            <v-list-item @click="toProfile">-->
<!--                <v-list-item-action>-->
<!--                <v-icon>mdi-account</v-icon>-->
<!--                </v-list-item-action>-->
<!--                <v-list-item-content>-->
<!--                <v-list-item-title>Профиль</v-list-item-title>-->
<!--                </v-list-item-content>-->
<!--            </v-list-item>-->
            <v-list-item @click="logout">
                <v-list-item-action>
                <v-icon>mdi-exit-to-app</v-icon>
                </v-list-item-action>
                <v-list-item-content>
                <v-list-item-title>Выход</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            </v-list>
        </v-menu>
        </v-toolbar>
        <v-container
                class="fill-height container"
                fluid>
        <router-view />
        </v-container>
    </v-content>
    </v-app>
</template>

<style lang="scss" scoped>
    .logo {
    width: 120px;
    }
    .container {
    padding-top: 35px;
    padding-bottom: 35px;
    max-width: 1200px;
    }
</style>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator";
import {TokenRepository} from "@/repository/token.repository";
import {UserService} from "@/service/user.service";
import {ACTION_LOGIN, ACTION_LOGOUT, GET_CURRENT_USER} from "@/store/current.user.store";
import UserModel from "@/model/user.model";
import {CursorLogService} from "@/service/cursor-log.service";
import {CursorLogModel} from "@/model/cursor.log.model";

@Component
export default class App extends Vue {

    get currentUser(): UserModel | null {
        return this.$store.getters[GET_CURRENT_USER];
    }

    created(): void {
        this.logMouse();
        if(TokenRepository.getToken()) {
            UserService.getCurrent().then(r => {
            this.$store.dispatch(ACTION_LOGIN, r.data);
            })
        }
    }

    logout(): void {
        TokenRepository.removeToken();
        this.$store.dispatch(ACTION_LOGOUT);
        this.$router.push('/login');
    }

    logMouse(): void {
        const events: CursorLogModel[] = [];

        document.body.addEventListener('pointermove', (e) => {
            events.push({
                timestamp: Date.now(),
                x: e.pageX,
                y: e.pageY,
                button: 'NoButton',
                state: 'Move'
            })
        });

        document.body.addEventListener('pointerdown', (e) => {
            events.push({
                timestamp: Date.now(),
                x: e.pageX,
                y: e.pageY,
                button: e.button ? 'Right' : 'Left',
                state: 'Pressed'
            })
        });

        document.body.addEventListener('pointerup', (e) => {
            events.push({
                timestamp: Date.now(),
                x: e.pageX,
                y: e.pageY,
                button: e.button ? 'Right' : 'Left',
                state: 'Released'
            })
        });

        setInterval(() => {
            if(this.currentUser !== null && TokenRepository.getToken() !== null && events.length) {
                CursorLogService.logBatch(events);
                events.length = 0;
            }
        }, 5000)
    }

}
</script>
